(
"a-hira",
"a-1-kana",
"a-2-kana",
"a-3-kana",
"a-Wo-kana",
"i-1-kana",
"i-2-kana",
"i-3-kana",
"i-4-kana",
"u-1-kana",
"u-2-kana",
"u-3-kana",
"u-4-kana",
"u-5-kana",
"e-2-kana",
"e-3-kana",
"e-4-kana",
"e-5-kana",
"e-6-kana",
"o-1-kana",
"o-2-kana",
"o-3-kana",
"ka-1-kana",
"ka-2-kana",
"ka-3-kana",
"ka-4-kana",
"ka-5-kana",
"ka-6-kana",
"ka-7-kana",
"ka-8-kana",
"ka-9-kana",
"ka-10-kana",
"ka-11-kana",
"ka-Ke-kana",
"ki-1-kana",
"ki-2-kana",
"ki-3-kana",
"ki-4-kana",
"ki-5-kana",
"ki-6-kana",
"ki-7-kana",
"ki-8-kana",
"ku-1-kana",
"ku-2-kana",
"ku-3-kana",
"ku-4-kana",
"ku-5-kana",
"ku-6-kana",
"ku-7-kana",
"ke-1-kana",
"ke-2-kana",
"ke-3-kana",
"ke-4-kana",
"ke-5-kana",
"ke-6-kana",
"ko-1-kana",
"ko-2-kana",
"ko-3-kana",
"ko-Ki-kana",
"sa-1-kana",
"sa-2-kana",
"sa-3-kana",
"sa-4-kana",
"sa-5-kana",
"sa-6-kana",
"sa-7-kana",
"sa-8-kana",
"si-1-kana",
"si-2-kana",
"si-3-kana",
"si-4-kana",
"si-5-kana",
"si-6-kana",
"su-1-kana",
"su-2-kana",
"su-3-kana",
"su-4-kana",
"su-5-kana",
"su-6-kana",
"su-7-kana",
"su-8-kana",
"se-1-kana",
"se-2-kana",
"se-3-kana",
"se-4-kana",
"se-5-kana",
"so-1-kana",
"so-2-kana",
"so-3-kana",
"so-4-kana",
"so-5-kana",
"so-6-kana",
"so-7-kana",
"ta-1-kana",
"ta-2-kana",
"ta-3-kana",
"ta-4-kana",
"ti-1-kana",
"ti-2-kana",
"ti-3-kana",
"ti-4-kana",
"ti-5-kana",
"ti-6-kana",
"ti-7-kana",
"tu-1-kana",
"tu-2-kana",
"tu-3-kana",
"tu-4-kana",
"tu-To-kana",
"te-1-kana",
"te-2-kana",
"te-3-kana",
"te-4-kana",
"te-5-kana",
"te-6-kana",
"te-7-kana",
"te-8-kana",
"te-9-kana",
"to-1-kana",
"to-2-kana",
"to-3-kana",
"to-4-kana",
"to-5-kana",
"to-6-kana",
"to-Ra-kana",
"na-1-kana",
"na-2-kana",
"na-3-kana",
"na-4-kana",
"na-5-kana",
"na-6-kana",
"na-7-kana",
"na-8-kana",
"na-9-kana",
"ni-1-kana",
"ni-2-kana",
"ni-3-kana",
"ni-4-kana",
"ni-5-kana",
"ni-6-kana",
"ni-7-kana",
"ni-Te-kana",
"nu-1-kana",
"nu-2-kana",
"nu-3-kana",
"ne-1-kana",
"ne-2-kana",
"ne-3-kana",
"ne-4-kana",
"ne-5-kana",
"ne-6-kana",
"ne-Ko-kana",
"no-1-kana",
"no-2-kana",
"no-3-kana",
"no-4-kana",
"no-5-kana",
"ha-1-kana",
"ha-2-kana",
"ha-3-kana",
"ha-4-kana",
"ha-5-kana",
"ha-6-kana",
"ha-7-kana",
"ha-8-kana",
"ha-9-kana",
"ha-10-kana",
"ha-11-kana",
"hi-1-kana",
"hi-2-kana",
"hi-3-kana",
"hi-4-kana",
"hi-5-kana",
"hi-6-kana",
"hi-7-kana",
"hu-1-kana",
"hu-2-kana",
"hu-3-kana",
"he-1-kana",
"he-2-kana",
"he-3-kana",
"he-4-kana",
"he-5-kana",
"he-6-kana",
"he-7-kana",
"ho-1-kana",
"ho-2-kana",
"ho-3-kana",
"ho-4-kana",
"ho-5-kana",
"ho-6-kana",
"ho-7-kana",
"ho-8-kana",
"ma-1-kana",
"ma-2-kana",
"ma-3-kana",
"ma-4-kana",
"ma-5-kana",
"ma-6-kana",
"ma-7-kana",
"mi-1-kana",
"mi-2-kana",
"mi-3-kana",
"mi-4-kana",
"mi-5-kana",
"mi-6-kana",
"mi-7-kana",
"mu-1-kana",
"mu-2-kana",
"mu-3-kana",
"mu-4-kana",
"me-1-kana",
"me-2-kana",
"me-Ma-kana",
"mo-1-kana",
"mo-2-kana",
"mo-3-kana",
"mo-4-kana",
"mo-5-kana",
"mo-6-kana",
"ya-1-kana",
"ya-2-kana",
"ya-3-kana",
"ya-4-kana",
"ya-5-kana",
"ya-Yo-kana",
"yu-1-kana",
"yu-2-kana",
"yu-3-kana",
"yu-4-kana",
"yo-1-kana",
"yo-2-kana",
"yo-3-kana",
"yo-4-kana",
"yo-5-kana",
"yo-6-kana",
"ra-1-kana",
"ra-2-kana",
"ra-3-kana",
"ra-4-kana",
"ri-1-kana",
"ri-2-kana",
"ri-3-kana",
"ri-4-kana",
"ri-5-kana",
"ri-6-kana",
"ri-7-kana",
"ru-1-kana",
"ru-2-kana",
"ru-3-kana",
"ru-4-kana",
"ru-5-kana",
"ru-6-kana",
"re-1-kana",
"re-2-kana",
"re-3-kana",
"re-4-kana",
"ro-1-kana",
"ro-2-kana",
"ro-3-kana",
"ro-4-kana",
"ro-5-kana",
"ro-6-kana",
"wa-1-kana",
"wa-2-kana",
"wa-3-kana",
"wa-4-kana",
"wa-5-kana",
"wi-1-kana",
"wi-2-kana",
"wi-3-kana",
"wi-4-kana",
"wi-5-kana",
"we-1-kana",
"we-2-kana",
"we-3-kana",
"we-4-kana",
"wo-1-kana",
"wo-2-kana",
"wo-3-kana",
"wo-4-kana",
"wo-5-kana",
"wo-6-kana",
"wo-7-kana",
"n-Mu-Mo-1-kana",
"n-Mu-Mo-2-kana",
space,
nbspace,
"archaicYi-katakana",
"archaicYe-katakana",
"archaicWu-katakana",
"_su-2_001",
_gonben_001,
_katahen_1,
_ninben_001,
_sanzui_001
)