{
displayStrings = (
"𛀂",
"𛀂あホ𛀃𛀄あホ𛀅𛀆あ𛀇𛀈あ𛀉あ𛀊𛀋あ𛀌
あ𛀍𛀎𛀏あ𛀐あ𛀑𛀒𛀓𛀔あ𛀕あ𛀖あ𛀗𛀘
あ𛀙𛀚あ𛀛あ𛀜あ𛀝あ𛀞あホ𛀟𛀠𛀡あ𛀢あ𛀣あ𛀤あ𛀥𛀦あ𛀧𛀨𛀩𛀪あ𛀫𛀬あ𛀭𛀮𛀯𛀰𛀱
あ𛀲あ𛀳あ𛀴あ𛀵あ𛀶𛀷𛀸𛀹𛀺𛀻𛀼𛀽𛀾𛀿𛁀𛁁𛁂𛁃𛁄𛁅𛁆𛁇𛁈𛁉𛁊𛁋𛁌𛁍𛁎𛁏𛁐𛁑𛁒𛁓𛁔𛁕𛁖𛁗𛁘𛁙𛁚𛁛𛁜𛁝𛁞𛁟𛁠𛁡𛁢𛁣𛁤𛁥𛁦𛁧𛁨𛁩𛁪𛁫𛁬𛁭𛁮𛁯𛁰𛁱𛁲𛁳𛁴𛁵𛁶𛁷𛁸𛁹𛁺𛁻𛁼𛁽𛁾𛁿𛂀𛂁𛂂𛂃𛂄𛂅𛂆𛂇𛂈𛂉𛂊𛂋𛂌𛂍𛂎𛂏𛂐𛂑𛂒𛂓𛂔𛂕𛂖𛂗𛂘𛂙𛂚𛂛𛂜𛂝𛂞𛂟𛂠𛂡𛂢𛂣𛂤𛂥𛂦𛂧𛂨𛂩𛂪𛂫𛂬𛂭𛂮𛂯𛂰𛂱𛂲𛂳𛂴𛂵𛂶𛂷𛂸𛂹𛂺𛂻𛂼𛂽𛂾𛂿𛃀𛃁𛃂𛃃𛃄𛃅𛃆𛃇𛃈𛃉𛃊𛃋𛃌𛃍𛃎𛃏𛃐𛃑𛃒𛃓𛃔𛃕𛃖𛃗𛃘𛃙𛃚𛃛𛃜𛃝𛃞𛃟𛃠𛃡𛃢𛃣𛃤𛃥𛃦𛃧𛃨𛃩𛃪𛃫𛃬𛃭𛃮𛃯𛃰𛃱𛃲𛃳𛃴𛃵𛃶𛃷𛃸𛃹𛃺𛃻𛃼𛃽𛃾𛃿𛄀𛄁𛄂𛄃𛄄𛄅𛄆𛄇𛄈𛄉𛄊𛄋𛄌𛄍𛄎𛄏𛄐𛄑𛄒𛄓𛄔𛄕𛄖𛄗𛄘𛄙𛄚𛄛𛄜𛄝𛄞",
"あ𛀂𛀃𛀄𛀅𛀆𛀇𛀈𛀉𛀊𛀋𛀌𛀍𛀎𛀏𛀐𛀑𛀒𛀓𛀔𛀕𛀖𛀗𛀘𛀙𛀚𛀛𛀜𛀝𛀞𛀟𛀠𛀡𛀢𛀣𛀤𛀥𛀦𛀧𛀨𛀩𛀪𛀫𛀬𛀭𛀮𛀯𛀰𛀱𛀲𛀳𛀴𛀵𛀶𛀷𛀸𛀹𛀺𛀻𛀼𛀽𛀾𛀿𛁀𛁁𛁂𛁃𛁄𛁅𛁆𛁇𛁈𛁉𛁊𛁋𛁌𛁍𛁎𛁏𛁐𛁑𛁒𛁓𛁔𛁕𛁖𛁗𛁘𛁙𛁚𛁛𛁜𛁝𛁞𛁟𛁠𛁡𛁢𛁣𛁤𛁥𛁦𛁧𛁨𛁩𛁪𛁫𛁬𛁭",
"あ𛀂あ𛀃あ𛀄あ𛀅あ𛀆あ𛀇あ𛀈あ𛀉あ𛀊あ𛀋あ𛀌あ𛀍あ𛀎あ𛀏あ𛀐あ𛀑あ𛀒あ𛀓あ𛀔あ𛀕あ𛀖あ𛀗あ𛀘あ𛀙あ𛀚あ𛀛あ𛀜あ𛀝あ𛀞あ𛀟あ𛀠あ𛀡あ𛀢あ𛀣あ𛀤あ𛀥あ𛀦あ𛀧あ𛀨あ𛀩あ𛀪あ𛀫あ𛀬あ𛀭あ𛀮あ𛀯あ𛀰あ𛀱あ𛀲あ𛀳あ𛀴あ𛀵あ𛀶あ𛀷あ𛀸あ𛀹あ𛀺あ𛀻あ𛀼あ𛀽あ𛀾あ𛀿あ𛁀あ𛁁あ𛁂あ𛁃あ𛁄あ𛁅あ𛁆あ𛁇あ𛁈あ𛁉あ𛁊あ𛁋あ𛁌あ𛁍あ𛁎あ𛁏あ𛁐あ𛁑あ𛁒あ𛁓あ𛁔あ𛁕あ𛁖あ𛁗あ𛁘あ𛁙あ𛁚あ𛁛あ𛁜あ𛁝あ𛁞あ𛁟あ𛁠あ𛁡あ𛁢あ𛁣あ𛁤あ𛁥あ𛁦あ𛁧あ𛁨あ𛁩あ𛁪あ𛁫あ𛁬あ𛁭あ
"
);
}
