{
displayStrings = (
"     ",
"𛄈𛄉𛄊𛄋𛄌𛄍𛄎𛄏𛄐𛄑𛄒𛄓𛄔𛄕
𛄖𛄗𛄘𛄙𛄚𛄛𛄜𛄝𛄞𛄠𛄡𛄢",
"𛃗𛄐𛄍𛃽𛃱𛂨𛂝𛃈𛄎𛄏𛃇𛃜𛄍𛄝𛄎𛄏𛄈𛃈𛃋𛃕𛄏",
"𛃺𛃻𛄓𛃼𛃽𛃾𛃿𛄀𛄁𛄂𛄃𛄄𛄅𛄆𛄇",
"𛀂𛀃𛀄𛀅𛀆𛀇𛀈𛀉𛀊𛀋𛀌𛀍𛀎𛀏𛁶𛁰𛄂𛄃𛄄𛄅𛂔𛂦𛁋𛁎𛁋𛃳𛂙𛁵/_ou.001 𛁯𛁬𛁫𛀳𛁘𛀬𛀐𛀑𛀒",
"/archaicE-katakana",
"/archaicE-katakana 𛀂𛂙/archaicYe-hiragana",
"𛄢",
"/archaicE-katakana/archaicYe-hiragana 
/archaicE-katakana/archaicYe-hiragana 
/archaicE-katakana/archaicYe-hiragana"
);
}
