{
displayStrings = (
"あ𛁮𛁯𛁰𛁱𛁲𛁳𛁴𛁵𛁶𛁷𛁸𛁹𛁺𛁻𛁼𛁽𛁾𛁿𛂀𛂁𛂂𛂃𛂄𛂅𛂆𛂇𛂈𛂉𛂊𛂋𛂌𛂍𛂎𛂏𛂐𛂑𛂒𛂓𛂔𛂕𛂖𛂗𛂘𛂙𛂚𛂛𛂜𛂝𛂞𛂟𛂠𛂡𛂢𛂣𛂤𛂥𛂦𛂧𛂨𛂩𛂪𛂫𛂬𛂭𛂮𛂯𛂰𛂱𛂲𛂳𛂴𛂵𛂶𛂷𛂸𛂹𛂺𛂻𛂼𛂽𛂾𛂿𛃀𛃁𛃂𛃃𛃄𛃅𛃆𛃇𛃈𛃉𛃊𛃋𛃌𛃍𛃎𛃏𛃐",
"あ𛁮あ𛁯あ𛁰あ𛁱あ𛁲あ𛁳あ𛁴あ𛁵あ𛁶あ𛁷あ𛁸あ𛁹あ𛁺あ𛁻あ𛁼あ𛁽あ𛁾あ𛁿あ𛂀あ𛂁あ𛂂あ𛂃あ𛂄あ𛂅あ𛂆あ𛂇あ𛂈あ𛂉あ𛂊あ𛂋あ𛂌あ𛂍あ𛂎あ𛂏あ𛂐あ𛂑あ𛂒あ𛂓あ𛂔あ𛂕あ𛂖あ𛂗あ𛂘あ𛂙あ𛂚あ𛂛あ𛂜あ𛂝あ𛂞あ𛂟あ𛂠あ𛂡あ𛂢あ𛂣あ𛂤あ𛂥あ𛂦あ𛂧あ𛂨あ𛂩あ𛂪あ𛂫あ𛂬あ𛂭あ𛂮あ𛂯あ𛂰あ𛂱あ𛂲あ𛂳あ𛂴あ𛂵あ𛂶あ𛂷あ𛂸あ𛂹あ𛂺あ𛂻あ𛂼あ𛂽あ𛂾あ𛂿あ𛃀あ𛃁あ𛃂あ𛃃あ𛃄あ𛃅あ𛃆あ𛃇あ𛃈あ𛃉あ𛃊あ𛃋あ𛃌あ𛃍あ𛃎あ𛃏あ𛃐あ
"
);
}
